*{
    margin:0;
    padding:0;
    list-style-type: none;
}

body{
    font-family:"TT Lakes";
    
}
button {
    cursor: pointer;
    font-family: inherit;
    background: none;
    border: 0;
}

@media screen and (min-width:0px) {
    .header{
        border-bottom: 1px solid #D9FFF5;
    }
    
    .header__title{
        display:none;
    }
    

    .header__menu{
        display:flex;
        justify-content: space-between;
        align-items: center;
        position:relative;
        padding:18px 15px;
        background-color:white;
        column-gap:16px;
    }

    

    .header__menu::before{
        content:"";
        position:absolute;
        left:90px;
        height:30px;
        border:1px solid #eaeaea;
        border-radius: 1px;
        display:none;
    }

    .header__menu::after{
        content: "";
        position:absolute;
        height:30px;
        right:132px;
        border:1px solid #eaeaea;
        border-radius: 1px;
    }
    
    

    .header__icon:nth-child(2){
        flex-grow:1;
    }

    

    .icon__menu{
        
        background: url("../assets/ic/burger.svg") no-repeat center;
    }

    .logo{
        background: url("../assets/ic/Group.svg")
    }

    .icon__tel{
        
        background: url("../assets/ic/call.svg") no-repeat center;
    }

    .icon__chat{
        background: url("../assets/ic/chat.svg") no-repeat center;
    }

    .icon__profile{
        background: url("../assets/ic/profile.svg") no-repeat center;
    }

    .icon__repair{
        background:url("../assets/ic/repair.svg") no-repeat center;
    }

    .icon__status{
        background: url("../assets/ic/checkstatus.svg") no-repeat center;
    }


    .icon__text {
    
        font-weight: 500;
        font-size: 16px;
        color: #1b1c21;
        display: none;
    }

    .icon{
        display:flex;
        justify-content: center;
        align-items: center;
        width:40px;
        height:40px;
        background-color: #ff3e79;
        border-radius: 20px;
        border:0;
        margin:0 auto;
    }

    .logo{
        display:flex;
        width:98px;
        height:52px;
    }

    
    
    .header__icon:nth-child(3),
    .header__icon:nth-child(4),
    .header__icon:nth-child(5){
        display:none;
        
    }

    .menu{
        border-color:rgba(217, 255, 245, 1);
        background: #F8F8F8;
    }

    .menu__title{
        display:flex;
        align-items:center;
        gap:14px;
        padding-top:20px;
        font-size:28px;
        margin-left:16px;
    }

    .menu__title::before{
        content: "";
        width:4px;
        height:40px;
        border-radius:0px 50px 50px 0px;
        background-color:#41F6d7;
        position: absolute;
        left:0;

    }

    .menu__navigation{
        display:flex;
        flex-flow: row nowrap;
        scrollbar-width:0;
    }


    .menu__nav {
        display:flex;
        overflow-x:scroll;
        flex-flow: row nowrap;
        scrollbar-width:none;
    }

    .menu__nav::-webkit-scrollbar {
        display:none;
        
    }
    


    .menu__items{
        display:flex;
        flex-wrap:nowrap;
        align-items:center;
        white-space: nowrap;
        justify-content: flex-start;
        margin: 17px 15px;
        
    }

    .menu__item{
        font-size: 16px;
        font-weight: 500;
        color: #7e7e82;
        text-decoration: none;
        padding: 6px 14px;
        border: 2px solid transparent;
        display: block;
        
    }

    .menu__item:hover{
        border:2px solid #b8ffec;
        background-color: white;
        border-radius:6px;
    }

    .menu-sections{
        display:flex;
        flex-direction: column;
    }


    .menu-sections__description{
        font-size:14px;
    }

    .menu-sections__text{
        margin-right:15px;
        margin-left:15px;
        position:relative;
        display:flex;
        flex-direction: column;
        
    }

    .menu-sections__button{
        display:flex;
        align-items: center;
        font-weight: 500;
        justify-content: flex-start;
        font-size:16px;
    }

    .menu-sections__button::before{
        content: url(../assets/ic/expand.svg);
        margin:15px;
    }
    .menu-sections__img{
        width:100%;
        height:100%;
    }
}


@media screen and (min-width:768px) {

    .header__menu{
        padding:18px 15px;
    }

    .header__menu::before{
        display:block;
    }

    .header__menu::after{
        right:142px;
    }

    .header__icon:nth-child(3),
    .header__icon:nth-child(4),
    .header__icon:nth-child(5){
        display:block;
        
    }

    .header__icon:nth-child(1){
        margin-right:20px;
    }

    .header__icon:nth-child(2){
        margin-left:20px;
    }

    .header__icon:nth-child(5){
        margin-right:15px;

    }

    .header__icon:nth-child(7){
        margin-right:20px;
    }

    .menu__title{
        margin-left:24px;
    }

    .menu-sections__content{
        display:flex;
        flex-direction: row;
        margin-left:10px;
    }
    
    .menu-sections__button{
        margin-top:15px;

    }

    .menu-sections__pic{
        margin-right:40px;
        height:208px;
        width:360px;
        flex-shrink: 0;

    }

    .menu-sections__img{
        border-radius: 5px;
    }
}


@media screen and (min-width:1366px) {
    body{
        background-color: #F8F8F8;
    }

    .container{
        max-width:1120px;
        margin:0 auto;
    }

    .header{
        display:flex;
        
        border-bottom:0;
        justify-content: space-between;
        padding-top:50px;

    }

    .header__title{
        display:flex;
        align-items:center;
        gap:15px;
        font-size:28px;
        font-weight:700;
        
    }

    .header__title::before{
        content: "";
        width:4px;
        height:40px;
        border-radius:0px 50px 50px 0px;
        background-color:#41F6d7;
        position:relative;
        
        
        
    }
    .header__menu {
        padding: 0;
        order: 2;
        background: 0;
        box-shadow: none;
        column-gap: 32px;
        margin-right: 32px;
        
    }

    .header__menu::before,
    .header__menu::after {
        display: none;
    }

    .header__icon:nth-child(-n + 5) {
        display: none;
    }

    .icon__repair{
        margin-right:160px;
        
    }

    .icon__text {
        display:inline;
        margin-right:200px;
        white-space: nowrap;
    }


    .menu__title{
        display:none;
    }
        
    

    .menu__nav {
        overflow-x:visible;
    }

    .menu__items{
        display:flex;
        flex-wrap:wrap;
        row-gap: 10;
    }

    .menu-sections__pic{
        width:531px;
        height: 300px;
    }
    
}
