@font-face {
    font-family: "TT Lakes";
    src: url(../assets/fonts/TTLakes-Regular.woff);
}


*{
    margin:0;
    padding:0;
    list-style-type: none;
}

body{
    font-family:"TT Lakes";
    
    
}






@media screen and (max-width:768px) {
    .header__menu{
        display:flex;
        justify-content: space-between;
        padding:55px 15px;
        align-items: center;
        position:relative;
        background-color:white;
        column-gap:15px;
        

    }

    





    .header__icon:nth-child(2){
        flex-grow:1;
    }

    
    .icon{
        display: flex;
        align-items: center;
        gap: 10px;
        width: 40px;
        height:40px;
        background-color: #ff3e79;
        border-radius: 20px;
        border-color:white;
    }
    

    
    .header__icon:nth-child(3),
    .header__icon:nth-child(4),
    .header__icon:nth-child(5){
        display:none;
        
    }

    


    .title__menu::before{
         content: "a";
         width:4px;
         height:40px;
         border-radius:0px 50px 50px 0px;
         background-color:#41F6d7;
         

    }


    .menu__navigation {
        display:flex;
        overflow-x:scroll;
        
    }

    .menu__items{
        display:flex;
        flex-wrap:nowrap;
        align-items:center;
        white-space: nowrap;
        justify-content: flex-start;
        margin: 25px 15px;
    }
}


